* {
  box-sizing: border-box;
  text-decoration: none;
}
.fontLogo {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}
.fontInter {
  
  font-family: "Inter", sans-serif;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  max-width: 1200px;

  margin: auto;
  padding: 50px 20px;
}

.navMenu {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 16px;
}
.navMenu a {
  color: #35414b;
  text-decoration: none;
  
}

.startButton a {
  padding: 20px;
}
.buttonGetStart {
  border: 1px solid #ece5ff;
  background-color: #ece5ff;
  border-radius: 5px;
  color: #794cff;
  text-decoration: none;
}

.buttonGetStart:hover {
  border: 1px solid blue;
}
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.centerText {   
    text-align: center;
}
.paddingText {
    padding: 20px;
}
.heroSection h1 {
    font-size: 64px;
    max-width: 760px;


}
.heroSection p {
    font-size: 16px;
    max-width: 500px;
    
}
.mailInput {
    padding: 20px;
}