* {
  box-sizing: border-box;
  text-decoration: none;
}
.fontLogo {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}
.fontInter {
  font-family: "Inter", sans-serif;
}
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  max-width: 1200px;
  position: sticky;
  z-index: 1000;
  background-color: white;
  top: 0;
  margin: auto;
  padding: 50px 20px;
}

.navMenu {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 16px;
}
.navMenu a {
  color: #35414b;
  text-decoration: none;
}

.startButton a {
  padding: 20px;
}
.buttonGetStart {
  border: 1px solid #ece5ff;
  background-color: #ece5ff;
  border-radius: 5px;
  color: #794cff;
  text-decoration: none;
}
.lineheight {
  line-height: 24px;
}
.buttonGetStart:hover {
  border: 1px solid blue;
}
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #35414b;
}
.centerText {
  text-align: center;
}
.paddingText {
  padding: 20px;
}
.heroSection h1 {
  font-size: 64px;
  max-width: 760px;
  font-weight: 500;
  letter-spacing: 0%;
}
.heroSection p {
  font-size: 16px;
  max-width: 500px;
}
.mailInput {
  padding: 20px;
}

.textDiscont {
  display: flex;
  justify-content: center;
}

.save {
  color: #ffffff;
  background-color: #81c43b;
  width: 110px;
  height: 32px;
  padding: 6px;
  border-radius: 100px;
  position: relative;
  z-index: 2;
  margin-right: -15px;
}
.getAccount {
  background-color: #f2f9eb;
  color: #35414b;
  padding: 6px;
  border-radius: 0 100px 100px 0;
  width: 210px;
}

.mailInput {
  display: flex;
  justify-content: center;
}
.inputMail {
  width: 320px;
  color: #ffffff;
  border: 1px solid #e1e5ea;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  height: 53px;
  padding-left: 24px;
  font-size: 16px;
}
.tryIt {
  font-size: 16px;
  width: 165px;
  background-color: #794cff;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  border: none;
}
.tryIt:hover {
  background-color: #926eff;

  border: 1px solid #794cff;
}
.dashboard {
  display: grid;
  grid-template-columns: 70px 1fr;

  max-width: 1200px;
  margin: 20px auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2831;
  height: 655px;
  gap: 30px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 90%;
  border-top: 1px solid #2f3942;
  gap: 30px;
}
.sidebar img {
  margin-top: 30px;
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.sidebar > a {
  margin-top: auto;
  margin-bottom: 20px;
  color: #5e6770;
}
.sidebar i {
  color: #5e6770;
}
.sidebar i:hover {
  color: #ffffff;
}
.dashboardContent {
  padding: 30px;
  background-color: #f9fafb;
  min-width: 0;
}
.dashboardContent h2 {
  font-size: 35px;
  color: #3a4149;
}
.status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  margin-top: 20px;
  grid-template-areas:
    "b1 b2 b3"
    "b4 b5 b5"
    "b4 b5 b5"
    "b4 b5 b5";
}
.card {
  padding: 20px 30px;
  background: white;
  border: 1px solid #e1e5ea;
  border-radius: 5px;
}
.card h3 {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
}
.card p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #97a5b5;
  padding: 5px 8px;

  border-radius: 4px;
}
.card span {
  display: inline-block;
  font-size: 10px;
}
.card h4 {
  font-size: 28px;
  font-weight: 500;
}
.card:nth-child(1) {
  grid-area: b1;
}
.card:nth-child(2) {
  grid-area: b2;
}
.card:nth-child(3) {
  grid-area: b3;
}
.card:nth-child(4) {
  grid-area: b4;
}
.card:nth-child(5) {
  grid-area: b5;
}
.positive {
  padding-top: 4px;
  background-color: #e3f9ec;
  border-radius: 3px;
  color: #a0d0af;
  width: 55px;
  height: 20px;
  text-align: center;
}
.negative {
  padding-top: 4px;
  background-color: #f5ede8;
  color: #e2acac;
  border-radius: 3px;
  width: 55px;
  height: 20px;
  text-align: center;
}

.chart {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 15px;
  padding-top: 55px;
}
.chartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar {
  width: 30px;
  background-color: #dfe4ea;
  border-radius: 4px 4px 0 0;
}
.chartItem:nth-child(1) .bar {
  height: 60px;
}
.chartItem:nth-child(2) .bar {
  height: 110px;
}
.chartItem:nth-child(3) .bar {
  height: 190px;
  background-color: #81c43b;
}
.chartItem:nth-child(3) span {
  color: #81c43b;
}
.chartItem:nth-child(4) .bar {
  height: 80px;
}
.chartItem:nth-child(5) .bar {
  height: 130px;
}
.hoursHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exportBtn {
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  color: #35414b;
  border: 1px solid #35414b;
  border-radius: 5px;
}
.exportBtn:hover {
  background-color: #35414b;
  color: #ffffff;
}
.hoursChart {
  padding-top: 75px;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.hoursItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  width: 43px;
  background-color: #dfe4ea;
}
.hoursItem:nth-child(1) .line {
  height: 70px;
  background-color: #508ef5;
}

.hoursItem:nth-child(2) .line {
  height: 120px;
  background-color: #ee7270;
}

.hoursItem:nth-child(3) .line {
  height: 180px;
  background-color: #f4af5b;
}

.hoursItem:nth-child(4) .line {
  height: 90px;
  background-color: #f4af5b;
}

.hoursItem:nth-child(5) .line {
  height: 140px;
  background-color: #ea8d6b;
}
